
.flexbox{

  display:flex;
  flex-direction:row;
  flex-wrap: wrap;

}

.box{
  width: 300px;
  padding: auto;
  }

  .box img{
      box-shadow: 3px 3px 12px -3px rgba(0,0,0,0.67);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      height: 180px;

  }

.box1{
  background-color: #bfbcba;


}

.box2{
  background-color: #bfbcba;

}

.box3{
  background-color: #bfbcba;

}

.box4{
  background-color: #bfbcba;

}

.box5{
  background-color: #bfbcba;

}


.box6{
  background-color: #bfbcba;


}

.box7{
  background-color: #bfbcba;

}

.box8{
  background-color: #bfbcba;

}
