/* CSS Styles */

#wrapper{
  padding: 1em;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu{
  display:none;
}

.top-nav li, .top-nav form{
  margin:0 2em;
}

.search-programs li{
  min-height: 28px;
  background-color: gray;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  padding-top:0 5px;

}


/*Keep at the bottom*/
@media(min-width: 768px){
  .menu ul{
    display:flex;
  }
  .toggle.nav{
    display:none;
  }
  .search-programs ul{
    display:flex;
    justify-content: space-between;
  }
  .search-programs li{
    width: 30%;
  }
}
