


#wrapper{
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

header{
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(161,160,160,0) 100%) left center, url("images/scorpioncast.jpg") center top no-repeat;
  padding: 2em;
}

p{
margin-bottom: 2em;
}

h1 img{
  max-width: 100%;
}

header button{
  background-color: #595853;
  background-image: url("images/playbutton.png");
  background-repeat: no-repeat;
  background-position: left center;
  color: #FFFFFF;
  padding: 5px;
  padding-left: 25px;
  border: none;
  text-transform: uppercase;
}
