#wrapper{
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  background-color: #bfbcba;
}

header{
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(161,160,160,0) 100%) left center, url("images/scorpioncast.jpg") center top no-repeat;
  padding: 1em;
}

header button{
  background-color: #595853;
  background-image: url("images/playbutton.png");
  background-repeat: no-repeat;
  background-position:left center;
  color: #FFFFFF;
  padding: 5px;
  padding-left: 25px;
  border: none;
  text-transform: uppercase;

}


p1{
margin-bottom: 1em;
margin-top: 1em;
padding-left: .7em;
font-size: 1.5em;
}


h1 img{
  max-width: 100%;
}


nav{
  background-color:#bfbcba;
  padding: 4px;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

nav li{
  display:inline;
  border-right: solid 1px #000;
  padding-right: 4px;
  padding-left: 4px;
  text-shadow: 5px 5px 15px #000;
  font-weight: bold;
}

nav li:last-child{
  border:none;
}

nav a{
  color:black;
  text-decoration: none;
}

nav a:hover{
  color:#b52d1b;
  text-decoration: underline;
}


footer{
  clear:both;
  text-align: center;
}

h2{
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-left: 0.5em;
  font-weight: bold;
}

h3{
  font-weight: bolder;
  font-size: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

p{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

main{
  margin-bottom: 3em;
  overflow: auto;
}
